div {
	margin: 10px;
	padding: 10px;
	span {
		width : auto;
		height : 50px; 
		position: relative;
		z-index : 1;

		&:before {
			content : "";
			position: absolute;
			left : 25%;
			top : 0;
			height : 1px;
			width : 50%; /* percentage of the element width*/
			border-bottom:4px solid #008800;
			margin-top: 1.25em; /*move the border below the text*/
		}
	}
	}
